@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

body {
  margin: 0;
  padding: 0;
  min-width: 470px;
}

html {
  /* 可以讓網頁平滑移動 */
  scroll-behavior: smooth;
}

/* animate框架的全域屬性 */
:root {
  --animate-duration: 1000ms;
  --animate-delay: 0.8s;
}

#banner {
  position: relative;
  overflow: hidden;
  /* 雲朵CSS */
}

#banner .cloud {
  width: 6144px;
  height: 100%;
  background: url(../IMG/網頁用照片/背景/01-Banner/TexturesCom_Skies0364_3_masked_S.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  opacity: 0.5;
  top: 0;
  z-index: 1;
  /* 動畫屬性 animation，首先要先給剛剛下方所定義的動畫名稱 */
  -webkit-animation-name: ani-1;
          animation-name: ani-1;
  /* 給定總動畫時間，要給才會動，並照著剛剛所定義的動畫腳本動 */
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
  /* iteration-count 為動的次數 預設是 1 ，infinite 是無限制 */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* 決定播完之後要停在哪，backwards 為預設原點，forwards是最後 */
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  /* animation: go 2s infinite alternate-reverse cubic-bezier(.17, .86, .73, .14); */
}

#banner .Tianyi a {
  font-family: 特明體;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 11;
  color: white;
  font-weight: bold;
  font-size: 36px;
  text-shadow: 0.1em 0.1em 0.05em #333;
}

#banner .Tianyi a:hover {
  color: #d38115;
}

@-webkit-keyframes ani-1 {
  /* // 定義一組動畫為 0 ~ 100 % 的時間動作，總動畫時間的 % 數 */
  0% {
    opacity: 0;
    left: -4000px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    left: 0px;
    opacity: 0;
  }
}

@keyframes ani-1 {
  /* // 定義一組動畫為 0 ~ 100 % 的時間動作，總動畫時間的 % 數 */
  0% {
    opacity: 0;
    left: -4000px;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    left: 0px;
    opacity: 0;
  }
}

#banner .LOGO-TOP {
  width: 240px;
  height: 200px;
  -webkit-filter: drop-shadow(0.3em 0.3em 0.05em rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0.3em 0.3em 0.05em rgba(0, 0, 0, 0.5));
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  #banner .LOGO-TOP {
    width: 180px;
    height: 150px;
    top: 40%;
  }
}

#banner .arrow img {
  width: 50px;
  height: 60px;
  position: absolute;
  z-index: 5;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-filter: drop-shadow(0.1em 0.1em 0.05em rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0.1em 0.1em 0.05em rgba(0, 0, 0, 0.5));
  animation: go 1s infinite alternate-reverse cubic-bezier(0.33, 1, 0.68, 1);
}

@media screen and (max-width: 900px) {
  #banner .arrow img {
    display: none;
  }
}

@-webkit-keyframes go {
  100% {
    bottom: 10%;
  }
}

@keyframes go {
  100% {
    bottom: 10%;
  }
}

label {
  float: left;
}

label .hamburger {
  width: 50px;
  height: 50px;
  position: fixed;
  background-color: unset;
  right: 50px;
  top: 50px;
  z-index: 10;
}

label .hamburger #switch {
  display: none;
}

label .hamburger .line {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 0.1em 0.1em 0.05em #333;
          box-shadow: 0.1em 0.1em 0.05em #333;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 20;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, -webkit-transform;
  transition-property: top, transform;
  transition-property: top, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s,0.1s,0.1s;
          transition-duration: 0.5s,0.1s,0.1s;
}

label .hamburger .line-1 {
  top: 25%;
}

label .hamburger .line-3 {
  top: 75%;
  left: 5%;
}

label .hamburger #switch:checked ~ .line {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  -webkit-transition-duration: 0.1s,0.5s,0.5s;
          transition-duration: 0.1s,0.5s,0.5s;
}

label .hamburger #switch:checked ~ .line-1 {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

label .hamburger #switch:checked ~ .line-3 {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
}

label .hamburger #switch:checked ~ .Shady {
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0px;
  right: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.596);
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

label .hamburger .Shady {
  opacity: 0;
}

label .hamburger nav {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.877);
  padding-top: 100px;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  margin: -50px -50px 0 0;
}

label .hamburger nav ul {
  padding: 0;
  list-style-type: none;
  width: 300px;
  text-align: center;
}

label .hamburger nav ul a {
  font-family: 特明體;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0.5em;
  display: block;
  padding: 20px;
  padding-right: 10px;
}

label .hamburger nav .Tianyi {
  font-family: 特明體;
  margin: auto;
  color: rgba(255, 255, 255, 0.336);
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

label .hamburger #switch:checked ~ nav {
  width: 600px;
}

@media screen and (max-width: 600px) {
  label .hamburger #switch:checked ~ nav {
    width: 470px;
  }
}

#room_detail{
  height: 100px;
  width: 400px;
 text-align: justify;
}
#imgins{
background:url(/IMG/網頁用照片/區塊2/二人房/room2-1.png);
display:fixed;
flex-wrap: nowrap;
}
.show_btn>a:link {
color: black;
}

.imgins div {
  width: 30px;
  background-color:peru;
  text-align: center;
  font-size: 30px;
}


#concept {
  background: url(../IMG/網頁用照片/背景/02-關於天一.png);
  position: relative;
  background-size: 105%;
  width: 100%;
  height: calc(100vw / 1.2);
}

@media screen and (max-width: 1600px) {
  #concept {
    height: unset;
    background-position: center;
    background-size: 200%;
  }
}

@media screen and (max-width: 992px) {
  #concept {
    background-size: 500%;
  }
}

#concept .counter img {
  width: 1000px;
  margin-left: -300px;
  margin-top: 100px;
}

@media screen and (max-width: 1245px) {
  #concept .counter img {
    margin-left: -100px;
    width: 800px;
  }
}

@media screen and (max-width: 992px) {
  #concept .counter img {
    margin-top: -600px;
  }
}

@media screen and (max-width: 768px) {
  #concept .counter img {
    width: 400px;
    margin-left: 0px;
  }
}

#concept .container h3 {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-size: 36px;
  margin: 0;
  padding: 0;
  text-shadow: black 0.1em 0.1em 0.2em;
  letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
  #concept .container h3 {
    font-size: 24px;
  }
}

#concept .container p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 24px;
  margin-top: 40px;
  padding: 0;
  text-shadow: black 0.1em 0.1em 0.2em;
  line-height: 2;
  letter-spacing: 5px;
}

@media screen and (max-width: 768px) {
  #concept .container p {
    font-size: 18px;
  }
}

#concept .container .about {
  padding-top: 250px;
  z-index: 3;
}

#concept .container .found {
  margin-top: -100px;
  z-index: 3;
}

@media screen and (max-width: 1245px) {
  #concept .container .found {
    margin-left: 100px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 992px) {
  #concept .container .found {
    margin-left: 0;
  }
}

#concept .container .star {
  margin-top: -100px;
  z-index: 2;
}

@media screen and (max-width: 1245px) {
  #concept .container .star {
    margin-top: 40px;
  }
}

#concept .container .star img {
  width: 365px;
}

#concept .container .star p {
  -webkit-writing-mode: unset;
      -ms-writing-mode: unset;
          writing-mode: unset;
  margin-top: 0;
}

#concept .bg-room {
  position: absolute;
  bottom: -15%;
  left: 15%;
}

#concept .bg-LOGO {
  position: absolute;
  bottom: -10%;
  right: 15%;
}

@media screen and (max-width: 1245px) {
  #concept .bg-LOGO {
    display: none;
  }
}

#bookinginfo {
  padding: 30px;
  width: 100%;
  height: 100vh;
  background-image: url(../IMG/網頁用照片/背景/04-訂房資訊.png);
}

#bookinginfo h1 {
  text-align: center;
}

#bookinginfo .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#bookinginfo .tabs .tabs-label {
  background-color: #c9852b;
  margin: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

#bookinginfo .tabs .tabs-radio {
  display: none;
}

#bookinginfo .tabs .tabs-content {
  width: 100%;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  background-color: tan;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  line-height: 1.5;
  display: none;
  margin: 0 30px;
}

#bookinginfo .tabs .tabs-radio:checked + .tabs-label {
  font-weight: bold;
  color: #301f08;
  border-bottom: 2px solid #301f08;
}

#bookinginfo .tabs .tabs-radio:checked + .tabs-label + .tabs-content {
  display: initial;
}

#traffic {
  width: 100%;
  height: 100vh;
  background-color: #c7bdbd;
  padding: 30px;
}

#traffic h1 {
  text-align: center;
}

#traffic .traffic-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px 0;
  gap: 70px;
}

#traffic .traffic-content .traffic-info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  #traffic {
    height: 100vh;
  }
  #traffic .traffic-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

footer {
  background: url("../IMG/網頁用照片/背景/07-footer.png");
  background-size: 100%;
  height: calc(100vw / 2.6);
}

@media screen and (max-width: 1200px) {
  footer {
    background-position: center;
    background-size: 200%;
    height: unset;
  }
}

@media screen and (max-width: 768px) {
  footer {
    background-size: 500%;
  }
}

footer .footer-text {
  position: relative;
  min-height: calc(100% - 65px);
}

footer .footer-text .return img {
  position: absolute;
  width: 100px;
  height: 100px;
  top: -50px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

footer .footer-text .return img:hover {
  -webkit-filter: drop-shadow(0.1em 0.1em 0.5em black);
          filter: drop-shadow(0.1em 0.1em 0.5em black);
}

footer .footer-text .LOGO img {
  width: 250px;
}

footer .footer-text a {
  text-decoration: none;
}

footer .footer-text .qrcode div {
  width: 170px;
  height: 170px;
  background-color: black;
}

footer .footer-text .qrcode div img {
  width: 140px;
  height: 140px;
}

footer .footer-text .qrcode div img:hover {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

footer .copyright {
  height: 65px;
  background-color: rgba(0, 0, 0, 0.699);
}
/*# sourceMappingURL=tianyihotel.css.map */